.loginBtn {
  width: 200px;
  height: 5vh;
  background-color: rgb(123, 123, 123);
  border-radius: 20px;
  color: white;
}
.book {
  background-color: blue;
  color: white;
  border: none;
  width: 200px;
  height: 5vh;
  border-radius: 24px;
}
.myCol {
  transform: translateY(-600px);
  height: 70vh;
}
.img {
  background-image: url("https://images.unsplash.com/photo-1558611848-73f7eb4001a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGd5bXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60");
  height: 70vh;
  background-size: cover;
}
